/* stylelint-disable selector-max-id */

/**
 * Nav unification styles
 *
 * This file contains all relevant styles for the nav unification prototype (see pbAPfg-O2).
 * Using a single place to store these styles will allow us to easily (re)move them later.
 * Depending on the outcome they'll either be deleted or moved to the relevant places.
 *
 * IMPORTANT: When adding to this file please also add the source file in a comment.
 */

.theme-default {

	$nav-unification-primary: #23282d;
	$nav-unification-secondary: #101517;
	$nav-unification-masterbar-font-size: 13px;
	$nav-unification-masterbar-mobile-font-size: 14px;


	// breakpoint used in wp-admin
	@media only screen and ( max-width: 782px ) {
		// client/layout/style.scss
		.layout.focus-content .layout__secondary {
			transform: translateX( -100% );
			padding: 71px 24px 24px;
		}
	}

	@media only screen and ( max-width: 660px ) {
		.layout.focus-sites .layout__primary .main,
		.layout.focus-sidebar .layout__primary .main {
			transform: translateX( 100% );
		}
	}
}

/**
 * Color scheme specific styles
 *
 * Nav unification introduces changes that require modifications to existing color schemes.
 */

// Ensure sidebar is visually separate from the content in the Contrast color scheme
// client/layout/style.scss
.theme-default.is-contrast {
	.layout__secondary {
		outline: 1px solid var( --color-sidebar-border );
	}
}

// Ensure that the sidebar always remains on top.
// Related issue: https://github.com/Automattic/wp-calypso/issues/53504
.theme-default {
	.layout__secondary {
		z-index: z-index( 'root', '.layout__secondary' );
	}
}
